.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: #c5c5c5;
}
.stateBoard{
  width: 500px;
  height: 100px;
  background-color: #ff6464
}
.textbox{
  width:400px;
  height:50px;
  background-color: #16467e;
}

.typingText{
  display: flex;
  align-items: center;
  justify-content: center;
  width:300px;
  height:30px;
}

.titleBoard{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 60px;
}




.correct{
  color: #00ff04;
  font-weight: bold;
}

.current{
  color: #ff7700;
  font-weight: underline;
}

.mistake{
  color:#ff0000;
  text-decoration: underline;
}

.untyped{
  color:#707570
}


