.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: #b7d1e4;
  border:solid 5px #a3a3a6;
}
.stateBoard{
  width: 500px;
  height: 100px;
  background-color: #ff6464
}
.textbox{
  width:400px;
  height:50px;
  background-color: #16467e;
}

.typingText{
  display: flex;
  align-items: center;
  justify-content: center;
  width:300px;
  height:30px;
}

.titleBoard{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 60px;
}




.correct{
  color: #00ff04;
  font-weight: bold;
}

.current{
  color: #ff7700;
  font-weight: underline;
}

.mistake{
  color:#ff0000;
  text-decoration: underline;
}

.untyped{
  color:#707570
}

.timerContainer{
  width: 400px;
  height: 10px;
  background-color:#ddd;
  border-radius: 5px;
  margin-bottom:20px;
  overflow:hidden;
}

.progressBar{
  height:100%;
  background-color:#f44336;
  transition: width 1.0s linear;
}



